---
import MainLayout from '@/layouts/MainLayout.astro';
---

<MainLayout title="E5 Wheels - Configure">
    <div id="autosync-visualizer"></div>
    <script is:inline src="https://vvs.autosyncstudio.com/js/Autosync.js"></script>
    <script is:inline>
        new Autosync({
            id: 'autosync-visualizer',
            key: 'efive',
            startPage: '/#/autosync-visualizer?hash=L3ZlaGljbGVzL21vZGVscy9DaGV2cm9sZXQ/JnNoYXJlZD10cnVl'
        });
    </script>
</MainLayout>
