/* Franklin Gothic Font Family */

/* Franklin Gothic Heavy */
@font-face {
  font-family: 'Franklin Gothic Heavy';
  src: url('/src/assets/fonts/Franklin Gothic Heavy Regular.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Franklin Gothic Demi - Using Heavy as fallback */
@font-face {
  font-family: 'Franklin Gothic Demi';
  src: url('/src/assets/fonts/Franklin Gothic Heavy Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Franklin Gothic Medium - Using Heavy as fallback */
@font-face {
  font-family: 'Franklin Gothic Medium';
  src: url('/src/assets/fonts/Franklin Gothic Heavy Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Franklin Gothic Book - Using Heavy as fallback */
@font-face {
  font-family: 'Franklin Gothic Book';
  src: url('/src/assets/fonts/Franklin Gothic Heavy Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Excon Variable - Using Franklin Gothic as fallback */
@font-face {
  font-family: 'Excon Variable';
  src: url('/src/assets/fonts/Franklin Gothic Heavy Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
