---
import GalleryVehiclesGrid from '@/pages/gallery/components/GalleryVehiclesGrid.vue';
import MainLayout from '@/layouts/MainLayout.astro';
---

<MainLayout title="Vette Gallery - E5 Wheels">
  <div class="w-full h-full">
      <GalleryVehiclesGrid client:only="vue" />
  </div>
</MainLayout>
