---
import MainLayout from '@/layouts/MainLayout.astro';
import MediaDownload from "@/pages/media/components/MediaDownload.vue"
---

<MainLayout title="E5 Wheels - Media & Downloads">
    <section class="container-e5 py-20">
        <div class="max-w-[998px] mx-auto">
            <div class="text-center mb-12">
                <h1 class="text-e5-red text-[48px] font-['Franklin_Gothic_Book'] tracking-[9.6px] uppercase mb-6 leading-tight">
                    MEDIA & DOWNLOADS
                </h1>
                <div class="w-full h-[2px] bg-e5-red mb-8"></div>
                <p class="text-black/70 text-[24px] leading-[30px]">
                    Download official E5 logos and high-res assets for all wheel styles Daytona, Sebring, Speedway,
                    Talladega. Perfect for marketing materials, product pages, and promotional use.
                </p>
            </div>
        </div>
    </section>

    <!-- Logos Section -->
    <section class="container-e5 pb-12">
        <div class="mx-auto">
            <h2 class="text-e5-red text-[36px] font-['Franklin_Gothic_Book'] tracking-[7.2px] uppercase mb-8">
                OFFICIAL E5 LOGOS
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
                <MediaDownload alt="E5 Wheels Logo"
                               image="https://ml3bwkhva5az.i.optimole.com/cb:c_IM.4ce03/w:1895/h:637/q:100/sm:0/ig:avif/https://e5wheels.com/wp-content/uploads/2023/06/E5-Logo-website.png"
                               downloadLink="https://e5wheels.com/wp-content/uploads/2025/07/E5-Wheels-Logo.zip"/>
            </div>
        </div>
    </section>

    <!-- Wheel Styles Section -->
    <section class="container-e5 py-12">
        <div class="mx-auto">
            <h2 class="text-e5-red text-[36px] font-['Franklin_Gothic_Book'] tracking-[7.2px] uppercase mb-8">
                DAYTONA</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
                <MediaDownload alt="Daytona Wheel"
                               image="https://ml3bwkhva5az.i.optimole.com/cb:c_IM.4ce03/w:1536/h:1536/q:100/rt:fill/g:ce/sm:0/ig:avif/https://e5wheels.com/wp-content/uploads/2023/07/DAYTONA-1995-TitBrsh-002.png"
                               downloadLink="https://e5wheels.com/wp-content/uploads/2025/07/E5-Wheels-Logo.zip"/>
                <MediaDownload alt="Daytona Wheel"
                               image="https://ml3bwkhva5az.i.optimole.com/cb:c_IM.4ce03/w:1536/h:1536/q:100/rt:fill/g:ce/sm:0/ig:avif/https://e5wheels.com/wp-content/uploads/2023/07/DAYTONA-1995-GlBlk-002.png"
                               downloadLink="https://e5wheels.com/wp-content/uploads/2023/07/DAYTONA-Gloss-Black.zip"/>
                <MediaDownload alt="Daytona Wheel"
                               image="https://ml3bwkhva5az.i.optimole.com/cb:c_IM.4ce03/w:1536/h:1536/q:100/rt:fill/g:ce/sm:0/ig:avif/https://e5wheels.com/wp-content/uploads/2023/07/DAYTONA-1990-BrnzBrsh-002.png"
                               downloadLink="https://e5wheels.com/wp-content/uploads/2023/07/DAYTONA-Bronze-Brushed-Tint.zip"/>
                <MediaDownload alt="Daytona Wheel"
                               image="https://ml3bwkhva5az.i.optimole.com/cb:c_IM.4ce03/w:1500/h:1500/q:100/rt:fill/g:ce/sm:0/ig:avif/https://e5wheels.com/wp-content/uploads/2024/09/Daytona_CH_Chrome_Chrome_5-lug_0001.png"
                               downloadLink="https://e5wheels.com/wp-content/uploads/2025/01/Daytona_Chrome.zip"/>
            </div>
        </div>
    </section>

    <section class="container-e5 py-12">
        <div class="mx-auto">
            <h2 class="text-e5-red text-[36px] font-['Franklin_Gothic_Book'] tracking-[7.2px] uppercase mb-8">
                DAYTONA</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
                <MediaDownload alt="Sebring Wheel"
                               image="https://ml3bwkhva5az.i.optimole.com/cb:c_IM.4ce03/w:1536/h:1536/q:100/rt:fill/g:ce/sm:0/ig:avif/https://e5wheels.com/wp-content/uploads/2023/08/Sebring-TitBrsh-002.png"
                               downloadLink="https://e5wheels.com/wp-content/uploads/2023/08/Sebring-Titanium-Brushed.zip"/>
                <MediaDownload alt="Sebring Wheel"
                               image="https://ml3bwkhva5az.i.optimole.com/cb:c_IM.4ce03/w:1536/h:1536/q:100/rt:fill/g:ce/sm:0/ig:avif/https://e5wheels.com/wp-content/uploads/2023/08/Sebring-GlBlk-002.png"
                               downloadLink="https://e5wheels.com/wp-content/uploads/2024/01/Sebring-Gloss-Black.zip"/>
                <MediaDownload alt="Sebring Wheel"
                               image="https://ml3bwkhva5az.i.optimole.com/cb:c_IM.4ce03/w:1536/h:1536/q:100/rt:fill/g:ce/sm:0/ig:avif/https://e5wheels.com/wp-content/uploads/2023/08/Sebring-Brnz-002.png"
                               downloadLink="https://e5wheels.com/wp-content/uploads/2023/08/Sebring-Bronze.zip"/>
                <MediaDownload alt="Sebring Wheel"
                               image="https://ml3bwkhva5az.i.optimole.com/cb:c_IM.4ce03/w:1500/h:1500/q:100/rt:fill/g:ce/sm:0/ig:avif/https://e5wheels.com/wp-content/uploads/2024/09/Sebring_CH_Chrome_Chrome_5-lug_0001.png"
                               downloadLink="https://e5wheels.com/wp-content/uploads/2025/01/Sebring_Chrome.zip"/>
            </div>
        </div>
    </section>

    <section class="container-e5 py-12">
        <div class="mx-auto">
            <h2 class="text-e5-red text-[36px] font-['Franklin_Gothic_Book'] tracking-[7.2px] uppercase mb-8">
                DAYTONA</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
                <MediaDownload alt="Speedway Wheel"
                               image="https://ml3bwkhva5az.i.optimole.com/cb:c_IM.4ce03/w:1500/h:1500/q:100/rt:fill/g:ce/sm:0/ig:avif/https://e5wheels.com/wp-content/uploads/2024/01/Speedway_TIU_Titanium_Brushed-Tint_5-lug_0001.png"
                               downloadLink="https://e5wheels.com/wp-content/uploads/2024/01/Speedway-Titanium-Brushed.zip"/>
                <MediaDownload alt="Speedway Wheel"
                               image="https://ml3bwkhva5az.i.optimole.com/cb:c_IM.4ce03/w:1536/h:1536/q:100/rt:fill/g:ce/sm:0/ig:avif/https://e5wheels.com/wp-content/uploads/2024/01/Speedway_BK_Gloss_Black_5-lug_0001.png"
                               downloadLink="https://e5wheels.com/wp-content/uploads/2024/01/Speedway-Gloss-Black.zip"/>
                <MediaDownload alt="Speedway Wheel"
                               image="https://ml3bwkhva5az.i.optimole.com/cb:c_IM.4ce03/w:1500/h:1500/q:100/rt:fill/g:ce/sm:0/ig:avif/https://e5wheels.com/wp-content/uploads/2024/01/Speedway_DB_Dark-Bronze_5-lug_0001.png"
                               downloadLink="https://e5wheels.com/wp-content/uploads/2024/01/Speedway-Bronze-Brushed-Tint.zip"/>
                <MediaDownload alt="Speedway Wheel"
                               image="https://ml3bwkhva5az.i.optimole.com/cb:c_IM.4ce03/w:1500/h:1500/q:100/rt:fill/g:ce/sm:0/ig:avif/https://e5wheels.com/wp-content/uploads/2024/09/Speedway_CH_Chrome_Chrome_5-lug_0001.png"
                               downloadLink="https://e5wheels.com/wp-content/uploads/2025/01/Speedway_Chrome.zip"/>
            </div>
        </div>
    </section>

    <section class="container-e5 py-12">
        <div class="mx-auto">
            <h2 class="text-e5-red text-[36px] font-['Franklin_Gothic_Book'] tracking-[7.2px] uppercase mb-8">
                DAYTONA</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
                <MediaDownload alt="Talladega Wheel"
                               image="https://ml3bwkhva5az.i.optimole.com/cb:c_IM.4ce03/w:1500/h:1500/q:100/rt:fill/g:ce/sm:0/ig:avif/https://e5wheels.com/wp-content/uploads/2025/06/Talladega_AB_Brushed_Aluminum_5-lug_0001.webp"
                               downloadLink="https://e5wheels.com/wp-content/uploads/2025/07/E5_Talledega.zip"/>
            </div>
        </div>
    </section>
</MainLayout>